.main-list__content {
    padding: 42px calc(50% - 500px);
    display: flex;
    justify-content: space-between;
}

.main-list__main-section {
    padding-left: 40px;
    box-sizing: border-box;
    width: 60%;
}

.main-list__find-box {
    margin-bottom: 35px;
}

.main-list__likes {
    width: 35%;   
}
